input[type=button], input[type=submit] {
    background-color: #ff4081;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    font-size: 14px;
  }

  .example-form {
    min-width: 150px;
    max-width: 400px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }  

  /* .matginTop{
      margin-top:40px;
  } */