<!--material-->
<div class="matginTop">
  <h2>Reset Password</h2>
  <p>Please enter your email address to request a password reset.</p>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        [formControl]="emailFormControl"
        [errorStateMatcher]="matcher"
        placeholder="name@example.com"
        #passwordResetEmail
        required
      />

      <mat-error
        *ngIf="
          emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <!-- Calling ForgotPassword from AuthService Api -->
    <div>
      <input
        type="submit"
        class="btn btnPrimary"
        value="Reset Password"
        (click)="authService.ForgotPassword(passwordResetEmail.value)"
      />
    </div>
    <br />
    <div>
      <span>Go back to <a [routerLink]="['/sign-in']">Log In</a></span>
    </div>
  </form>
</div>
