<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <div>Book Store</div>
  <span class="nav-tool-items" *ngIf="authService.isLoggedIn && authService.userData as user">{{user.email}}
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav
    #sidenav
    [mode]="isBiggerScreen() ? 'over' : 'side'"
    [(opened)]="opened"
    [fixedInViewport]="true"
    
  ><!--[fixedTopGap]-->
    <mat-nav-list>
      <a *ngIf="authService.isLoggedIn" mat-list-item routerLinkActive="active" routerLink="/add-book">
        <mat-icon>add</mat-icon> Add Book
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/books-list">
        <mat-icon>view_list</mat-icon> View Books
      </a>
      <a *ngIf="!authService.isLoggedIn" mat-list-item routerLinkActive="active" routerLink="/sign-in">
        <mat-icon>launch</mat-icon> Sign In
      </a>
      <a *ngIf="authService.isLoggedIn" mat-list-item routerLinkActive="active" routerLink="/dashboard">
        <mat-icon>face</mat-icon> Dashboard <!--info home perm_identity-->
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
